body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

#welcome, #gamebg {
    min-width: 800px;
    min-height: 600px;
    width: 800px;
    height: 600px;
}

#welcome {
    z-index:100;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 45, 179, 0.3);
    color: #000000;
}

#welcome div {
    font-family: monospace;
    background-color: #fefefe;
    margin: 11% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

#welcome div p {
    margin: 50px 0 0 0;
}

#welcome div span {
    font-family: 'Share Tech Mono', monospace;
    color: #01ad01;
    font-weight: 900;
    font-size: 3em;
}

#gamebg {
    border: 2px solid #ee0000;
    background-color: #000;
    overflow: hidden;
    color: #ff0000;
    font-size: 100px;
    position: absolute;
    z-index: 1;
}

.snake {
    background-color: #006100;
    border:1px solid #00ca00;
    min-width:10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
}
.snake_head {
    background-color: #00ff00;
    border:1px solid #01ad01;
}
.snake_body {
}
.snake_tail {
    background-color: #693d00;
    border:1px solid #ffbb00;
}

.food {

}

button {
    text-transform: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 2px;
    background: #FCFCFC;
    font-size: 16px;
    border: solid 2px #ddd;
    color: #444;
    margin:0 10px;
}

button:hover {
    background: #F4F4F4;
    border: solid 2px #ccc;
}

button:active {
    background: #FEFEFE;
    border: solid 2px #ddd;
}

button:focus {
    outline: 0;
}

div#gameOver {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 900;
    width: 90%;
    height: 600px;
    line-height: 600px;
    margin: 0 auto 0 auto;
    text-transform: capitalize;
    text-align: center;
}